/**
 * -----------------------------------
 * INSTRUCTIONS
 * -----------------------------------
 * 
 * We want to obtain this result
 * https://drive.google.com/file/d/1rpzzwsGpyqLZTHXzZPxgCnwjW5X0NEto/view
 */

.main {
    display: grid;
}

.box {
    background-color: #ddd;
    color: #000;
    font-size: 40px;
}
