/**
 * -----------------------------------
 * INSTRUCTIONS
 * -----------------------------------
 * The purpose of this task is to check your ability of implementing the grid layout using pure CSS grid
 * 
 * >>> Requirements <<<
 * 
 * 1. Last column 100px wide
 * 2. Other three equal length
 * 3. Rows 150px high
 * 3. Gap 20px
 * 
 * We want to obtain this result
 * https://drive.google.com/file/d/1rpzzwsGpyqLZTHXzZPxgCnwjW5X0NEto/view
 */

.main {
    display: grid;
}

.box {
    background-color: #ddd;
    color: #000;
    font-size: 40px;
}
